<div id="pointsContainer">
  <h2>Points of Interest Nearby:</h2>
  <img class="icon" src="{{ icons[0] }}" alt="none" />
  <span class="poi">{{ names[0] }}</span>
  <br />
  <img class="icon" src="{{ icons[1] }}" alt="none" />
  <span class="poi">{{ names[1] }}</span>
  <br />
  <img class="icon" src="{{ icons[2] }}" alt="none" />
  <span class="poi">{{ names[2] }}</span>
  <br />
  <img class="icon" src="{{ icons[3] }}" alt="none" />
  <span class="poi">{{ names[3] }}</span>
  <br />
  <img class="icon" src="{{ icons[4] }}" alt="none" />
  <span class="poi">{{ names[4] }}</span>
  <br />
  <img class="icon" src="{{ icons[5] }}" alt="none" />
  <span class="poi">{{ names[5] }}</span>
  <br />
  <img class="icon" src="{{ icons[6] }}" alt="none" />
  <span class="poi">{{ names[6] }}</span>
  <br />
</div>
