<div role="menu" data-testid="menuBarPanel-room_type" class="_txfhnyy">
    <label class="_14ulhf4" for="filterItem-room_type-checkbox-room_types-Entire_home_apt" data-testid="filterItem-room_type-checkbox-room_types-Entire_home_apt">
        <span class="_pwqvlx">
            <input id="filterItem-room_type-checkbox-room_types-Entire_home_apt" name="Entire place" class="_1u1h18f" type="checkbox" value="">
        <span class="_167krry" data-checkbox="true"></span>
        </span>
            <span class="_6fc52n">
                <div class="_py3ty1">Entire place</div>
                <div class="_15oklaz">Have a place to yourself</div>
            </span>
    </label>

    <div>
        <label class="_14ulhf4" for="filterItem-room_type-checkbox-room_types-Private_room" data-testid="filterItem-room_type-checkbox-room_types-Private_room">
            <span class="_pwqvlx">
                <input id="filterItem-room_type-checkbox-room_types-Private_room" name="Private room" class="_1u1h18f" type="checkbox" value="">
                <span class="_167krry" data-checkbox="true"></span>
            </span>
                <span class="_6fc52n">
                    <div class="_py3ty1">Private room</div>
                    <div class="_15oklaz">Have your own room and share some common spaces</div>
                </span>
        </label>
    </div>

    <div>
        <label class="_14ulhf4" for="filterItem-room_type-checkbox-room_types-Hotel_room" data-testid="filterItem-room_type-checkbox-room_types-Hotel_room">
            <span class="_pwqvlx">
                <input id="filterItem-room_type-checkbox-room_types-Hotel_room" name="Hotel room" class="_1u1h18f" type="checkbox" value="">
                <span class="_167krry" data-checkbox="true"></span>
            </span>
                <span class="_6fc52n">
                    <div class="_py3ty1">Hotel room</div>
                    <div class="_15oklaz">Have a private or shared room in a boutique hotel, hostel, and more</div>
                </span>
        </label>
    </div>

    <div class="bottom-footer">
        <div class="clear-btn-left">
            <button class="clear-btn-footer">Clear</button>
        </div>		
        <div class="save-btn-right">
            <button class="save-btn-footer">Save</button>
        </div>		
    </div>
</div>