.mpts-title{
    color: inherit !important;
    font-size: 1.3em !important;
    font-weight: 550;
    line-height: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    float:left;
}