<div class="expanded">
    <div class="section">
        <div class="title">
            Adults
            <div class="description">
                Ages 13 or above
            </div>
        </div>
        <div class="counter">
            <button>-</button>
            0
            <button>+</button>
        </div>
    </div>

    <div class="section">
        <div class="title">
            Children
            <div class="description">
                Ages 2-12
            </div>
        </div>
        <div class="counter">
            <button>-</button>
            0
            <button>+</button>
        </div>
    </div>
    
    <div class="section">
        <div class="title">
            Infants
            <div class="description">
                Under 2
            </div>
        </div> 
        <div class="counter">
            <button>-</button>
            0
            <button>+</button>
        </div>
    </div>
     
</div>
