<div class="expanded">
    <div class="section">
        <div class="title">
            Adults
            <div class="description">
                Ages 13 or above
            </div>
        </div>
        <div class="counter" >
            <button *ngIf="this.adults > 0" (click)="decreaseA()">-</button>
            {{this.adults}}
            <button (click)="increaseA()">+</button>
        </div>
    </div>

    <div class="section">
        <div class="title">
            Children
            <div class="description">
                Ages 2-12
            </div>
        </div>
        <div class="counter">
            <button *ngIf="this.children > 0" (click)="decreaseC()">-</button>
            {{children}}
            <button (click)="increaseC()">+</button>
        </div>
    </div>
    
    <div class="section">
        <div class="title">
            Infants
            <div class="description">
                Under 2
            </div>
        </div> 
        <div class="counter">
        <button *ngIf="this.infants > 0" (click)="decreaseI()">-</button>
            {{infants}}
            <button (click)="increaseI()">+</button>
        </div>
    </div>
     
</div>
