<div id="cityContainer">
  <h2>{{ city }}</h2>
  <p>{{ description }}</p>

  <div style="margin-bottom: 24px;">
    <button type="button" class="more-btn" data-toggle="modal" data-target="#exampleModalCenter3" 
    style="background: #ffffff; padding: 10px 20px; border-radius: 8px;">
      <b>More about the location</b>
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <b><h4 class="modal-title" id="exampleModalLongTitle">Location</h4></b>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
        <div class="modal-body">
                <div>
                  <h5>Kissimmee, FL, USA</h5>
                  <br/>
                  <p>Cloud bread succulents squid velit. Occaecat marfa poke irony cillum hot chicken, ut pickled crucifix duis health goth pariatur.</p>
                </div>
                <br/>
                <div>
                  <h5>Getting around</h5>
                  <br/>
                  <p>Photo booth bespoke aliquip scenester cardigan laboris, raclette portland small batch.</p>
                </div>
        </div>
        </div>
    </div>
  </div>

</div>
