<div class="titleContainer">
    <div class="child"><h2>{{location.title}}</h2></div>
    <div class="child">{{location.numberofratings}}</div>
    <div class="child">.</div>
    <div class="child">{{location.host}}</div>
    <div class="child">.</div>
    <div class="child"><a href="http://">{{location.city}}, {{location.state_territory}}, United States</a> </div>
    <div class="child pushRight"><a href="http://">📩 Share</a></div>
    <div class="child "><a href="http://">❤ Save</a></div>
  </div>
  
