<div class="top-container">
	<button class="top-btn">
        Type of Place 
    </button>

	<div class="top-body">
        <div class="entire-place">
            <p>Entire place</p>
            <span>Have a place to yourself</span>
        </div>	
        <div class="private-room">
            <p>Private room</p>
            <span>Have your own room and share some common spaces</span>
        </div>
        <div class="hotel-room">
            <p>Hotel room</p>
            <span>Have a private or shared room</span>
        </div>	
    </div>
    
	<div class="top-footer">
        <div class="clear-btn-left">
            <a class="clear-btn-footer">clear</a>
        </div>		
		<div class="save-btn-right">
            <button class="save-btn-footer">Save</button>
        </div>>		
	</div>
</div>