button{
    font-weight: 400 ;
    font-size: 14px ;
    line-height: 18px ;
    cursor: pointer ;
    text-align: center ;
    border: 2px solid rgb(0, 0, 0) ;
    background-color: rgb(255, 255, 255) ;
    outline: none ;
    border-radius: 10px ;
    color: rgb(34, 34, 34) ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    position: relative ;
    padding: 12px 18px ;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px Arial;
    display: inline-block ;
    white-space: nowrap ;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

label {
    cursor: default;
}

._txfhnyy {
        width: 35%;
        background-color: white;
        color: black;
        text-align: left;
        padding: 20px;
        border-radius: 12px;
        display: inline-flexbox;
        grid-template-columns: 30% 20% 20% 30%;
        margin-top: 2%;
}

._14ulhf4 {
    -webkit-box-align: center !important;
    color: rgb(34, 34, 34) !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 4px !important;
    display: flex !important;
    align-items: center !important;
}

._pwqvlx {
    position: relative !important;
    display: inline-block !important;
    cursor: pointer !important;
    padding: 0px !important;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;  
    font: 400 13.3333px Arial;
}

._1u1h18f {
    position: absolute !important;
    width: 0px !important;
    opacity: 0 !important;
}

._167krry {
    display: inline-block !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    height: 24px !important;
    width: 24px !important;
    background: rgb(255, 255, 255) !important;
    text-align: center !important;
    overflow: hidden !important;
    vertical-align: top !important;
    border-radius: 4px !important;
}

._6fc52n {
    padding-left: 12px !important;
    padding-right: 8px !important;
}

._py3ty1 {
    font-weight: 400 !important;
    font-size: 16px !important;
}

._15oklaz {
    font-weight: 400 !important;
    font-size: 14px !important;
}

div {
    display: inline-grid;
    justify-content: center;
}

.bottom-footer{
    padding: 12px 14px;
    height: 65px;
    width: 360px;
    border-top: 0.5px solid rgba(118, 118, 118, 0.28) ;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.clear-btn-footer {
    cursor: not-allowed !important;
    opacity: 1 !important;
    border: none !important;
    background: transparent !important;
    color: #DDDDDD !important;
    text-decoration: underline;
}

.save-btn-footer {
    cursor: pointer ;
    display: inline-block ;
    margin: 0px ;
    position: relative ;
    text-align: center ;
    text-decoration: none ;
    width: auto ;
    touch-action: manipulation ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 14px ;
    line-height: 18px ;
    font-weight: 600 ;
    border-radius: 8px ;
    outline: none ;
    padding: 8px 16px ;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s ;
    border: none ;
    background: rgb(34, 34, 34) ;
    color: rgb(255, 255, 255) ;
}