<div class="listingOuterContainer">
  <div class="listingInnerContainer">
    <div class="infoSection">
      <!-- <app-title-info></app-title-info> -->
    </div>
    <!-- need photo gallery here so page flows / looks correct -->
      <!-- <app-brian-photo></app-brian-photo> -->
      <div class="infoSection">
        <app-stay-descriptor></app-stay-descriptor>
      </div>
    <div class="infoSection">

      <app-quick-info></app-quick-info>
    </div>
    <div class="infoSection">
      <app-sleeping-arrangements-info></app-sleeping-arrangements-info>
    </div>
    <div class="infoSection">
      <app-amenities-info></app-amenities-info>
      <span style="padding-bottom: 30px;"></span>
    </div>
  </div>
</div>
