<div class="dang">
  
  <div>the average nightly price is __"(avgValue)"__</div>

  min: {{ this.minprice }}
  <br />
  max: {{ this.maxprice }}
  <div></div>

  <div class="price-slider">
    <input id="lowSlide" value="10" min="0" max="99" step = "1" type="range" oninput="updatePriceLabels()">
    <input id="highSlide" value="500" min="0" max="100" step = "1" type="range" oninput="updatePriceLabels()">

  </div>
  <div class="bottomNumbers">
    {{ this.minprice }} <span class="priceFloatHigh"> {{ this.maxprice }}</span>
  </div>
<div class="mover"></div>
<p class="info">Click price filter button again to close modal</p>
</div>

