.dang {
  border: 3px solid green;
  z-index: 30;
  background-color: rgb(188, 223, 225);
  position: absolute;
  overflow-y: scroll;
  height: 250px;
  width: 600px;
  padding: 5px;
}

.price-slider {
  position: relative;
  width: 500px;
  margin: 0 auto 20px;
  height: 35px;
  text-align: center;
}

.price-slider input {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.price-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 31;
  outline: 0;
  -webkit-appearance: none;
  height: 34px;
  width: 34px;
  border-radius: 12px;
  background-color: white;
  border: 2px solid black;
}

.bottomNumbers {
  padding-left: 40px;
}

.priceFloatHigh {
  padding-left: 440px;
}

.mover {
  height: 50px;
}

.info {
  text-align: center;
}
