<!-- <div class="search-container">
    <div class="barPlaceHolder">
        <div class="search-comp search-location">Location
            <p id="search-base">Where are you going?</p>
        </div>
        <div class="search-comp search-checkin">Check in
            <p id="search-base">Add dates</p>
        </div>
        <div class="search-comp search-checkout">Check out
            <p id="search-base">Add dates</p>
        </div>
        <div class="search-comp search-guests">Guests
            <p id="search-base">Add guests</p>
        </div>
    </div>
</div> -->
<app-cancel-flex></app-cancel-flex>