button{
    font-weight: 400 ;
    font-size: 14px ;
    line-height: 18px ;
    cursor: pointer ;
    text-align: center ;
    border: 2px solid rgb(0, 0, 0) ;
    background-color: rgb(255, 255, 255) ;
    outline: none ;
    border-radius: 10px ;
    color: rgb(34, 34, 34) ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    position: relative ;
    padding: 12px 18px ;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px Arial;
    display: inline-block ;
    white-space: nowrap ;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}
.flex-button:hover{
    border: 1px solid rgb(0, 0, 0) ;
}
.dropdown{
    position: absolute;
    width: 360px;
    height: 178px;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px 10px 37px;
    z-index: 10;
    background: rgb(255, 255, 255) ;
    border: 0.5px solid rgba(118, 118, 118, 0.28) ;
    border-radius: 12px ;
    margin-top: 10px;
}
.hold{
    display: inline-block;
}
.top-drop{
    padding: 20px;
    height: 113px;
    width: 360px;
    
}
.bottom-drop{
    padding: 12px 14px;
    height: 65px;
    width: 360px;
    border-top: 0.5px solid rgba(118, 118, 118, 0.28) ;
    display: flex;
    align-content: center;
    justify-items: center;
}
.top-drop, .bottom-drop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tdrholder {
    min-width: 50px ;
    margin-left: 12px ;
    display: flex;
    flex-direction: row;
}
.tdh{
    padding:12px 4px 12px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tdrbutton {
    border-radius: 32px ;
    border-style: solid ;
    border-width: 1px ;
    cursor: pointer ;
    height: 32px ;
    position: relative ;
    min-width: 48px ;
    width: 48px ;
    outline: none ;
    background-color: rgb(176, 176, 176) ;
    border-color: rgb(176, 176, 176) ;
}
.tdrindiv {
    -webkit-box-pack: center ;
    -webkit-box-align: center ;
    /* rgb(34, 87, 185) ; */
    background-color: rgb(255, 255, 255) ;
    border-radius: 50% ;
    border-style: solid ;
    border-width: 2px ;
    height: 32px ;
    left: -1px ;
    position: absolute ;
    top: -1px ;
    transform: translate3d(0px, 0px, 0px) ;
    width: 32px ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    transition: -ms-transform 250ms ease-in-out 0s, -webkit-transform 250ms ease-in-out 0s, transform 250ms ease-in-out 0s ;
    border-color: rgb(176, 176, 176) ;
}
.activeCheck0 {
    transform: translate3d(16px,0px,0px)
}
.hiddenUnhidden{
    display: hidden;
}
.activeCheck0 .hiddenUnhidden{
    display: block;
    fill: none; 
    height: 12px; 
    width: 12px; 
    stroke: currentcolor; 
    stroke-width: 5.33333; 
    overflow: visible;
}

.top-drop-left{
    font-weight: 400 ;
    font-size: 14px ;
    width: 254px;
    margin: 0px;
}
.top-drop-right{
    width: 50px;
}
.save-button-dropdown{
    cursor: pointer ;
    display: inline-block ;
    margin: 0px ;
    position: relative ;
    text-align: center ;
    text-decoration: none ;
    width: auto ;
    touch-action: manipulation ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 14px ;
    line-height: 18px ;
    font-weight: 600 ;
    border-radius: 8px ;
    outline: none ;
    padding: 8px 16px ;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s ;
    border: none ;
    background: rgb(34, 34, 34) ;
    color: rgb(255, 255, 255) ;
}
.clear-button-dropdown{
    opacity: 1;
    border: none;
    background: transparent;
    color: #DDDDDD;
    text-decoration: underline;
    
    display: inline-block !important;
    margin: 0px -10px !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    touch-action: manipulation !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    outline: none !important;
    padding: 10px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border: none !important;

}


