<div class="hold">
    <button class="flex-button" 
        (click)="displayToggle()">
        Cancellation flexibility
    </button>
    <div class="dropdown" *ngIf="show" id="dropdownId">
        <div class="top-drop">
            <div class="tdh">
                <div class="top-drop-left">Only show stays that offer cancellation flexibility
                </div>
                <div class="top-drop-right">
                    <div class="tdrholder">
                        <button  class="tdrbutton">
                            <!-- //aria-checked="false" aria-labelledby="title-label-filterItem-flexible_cancellation-switch-flexible_cancellation-true" aria-describedby="subtitle-label-filterItem-flexible_cancellation-switch-flexible_cancellation-true" id="filterItem-flexible_cancellation-switch-flexible_cancellation-true" role="switch" type="button" -->
                            <div class="tdrindiv">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-drop">
            <div class="bottom-drop-left">
                <button class="clear-button-dropdown">
                    Clear
                </button>
            </div>
            <div class="bottom-drop-right">
                <button class="save-button-dropdown">
                    Save
                </button>
            </div>
        </div>
    </div>
    <!-- window.addEventListener('click', function(e){
        if(document.getElementById('dropdownId').contains(e.target)){
            this.show=true;
        }else {
            this.show=false;
        })
    }) -->
</div>
