<div class="filter-container">
	<!-- might use grids to make all three of these -->
	<div class="filter-header">
		<button>close</button>
		<!--leftside of header-->
		<span>More Filters</span>
		<!--center on header-->
	</div>
	<div class="filter-body">
		<!-- layout sections using a grid, each section will be grid as well -->
		<div class="filter-section popular-filters"></div>
		<div class="filter-section rooms-and-beds"></div>
		<div class="filter-section verified-places"></div>
		<div class="filter-section more-options"></div>
		<div class="filter-section amenities"></div>
		<div class="filter-section facilities"></div>
		<div class="filter-section property-type"></div>
		<div class="filter-section unique-stays"></div>
		<div class="filter-section house-rules"></div>
		<div class="filter-section neighborhoods"></div>
		<div class="filter-section host-language"></div>
	</div>
	<div class="filter-footer">
		<a> clear all </a>
		<!--left side of footer-->
		<button>show +### stays</button>
		<!--right side of footer-->
	</div>
</div>
