.titleContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: baseline;
  height:100px;
  margin-bottom: -50px;

}
.pushRight {
  margin-left: auto;
}

.child {
  padding: 5px;
  vertical-align: center;
}

.child > a {
  color: rgb(110, 110, 110);
}

.child:first-child {
  width: 100%;
  padding: 2px;
}


