<div class="stickydiv">
    <div class="widgets">
        <div class="upperWidget">
            <div>${{mptsdata.price}} / night</div>
            <div class="inline125">🟊 <div class="rating">{{mptsdata.rating}} ({{mptsdata.numberofratings}})</div></div>
        </div>
        <div class="lowerWidget">
            <div class="checkInOut">
                <div class="checkIn">
                    <div class="checkInOutHeading">Check-In</div>
                    <div class="checkInOutLower">Add date</div>
                </div>
                <div class="checkOut">
                    <div class="checkInOutHeading">Checkout</div>
                    <div class="checkInOutLower">Add date</div>
                </div>
            </div>
            <div class="guests">
                <div class="checkInOutHeading">Guests</div>
                <div class="checkInOutLower lowerDrop">1 guest</div>
            </div>
        </div>
    </div>
    <button class="gradient">Check availability</button>
</div>
<p class="underBar">
    <button class="underBarButton">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" focusable="false"
            style="height: 16px; width: 16px; display: block; fill: currentcolor;">
            <path
                d="M22.39 5.798c-.088-.208-1.252-2.89-1.759-4.018a228.077 228.077 0 0 0-.677-1.49.5.5 0 0 0-.838-.11 7.236 7.236 0 0 1-.407.435 10.66 10.66 0 0 1-1.134.985C16.404 2.479 15.187 3 14 3c-1.21 0-1.995-.133-3.309-.483l-.4-.107C9.194 2.121 8.47 2 7.5 2a6.35 6.35 0 0 0-1.186.12c-.87.165-1.786.49-2.715.928-.48.225-.932.467-1.345.708l-.112.068-.171-.49a.5.5 0 1 0-.944.331l7 20a.5.5 0 0 0 .944-.33l-2.986-8.531a21.773 21.773 0 0 1 1.77-.843c.73-.307 1.44-.556 2.102-.724.61-.155 1.163-.237 1.642-.237.869 0 1.515.108 2.536.377l.398.106c1.39.371 2.255.517 3.566.517 2.853 0 5.29-1.786 5.974-3.842a.5.5 0 0 0 0-.316c-.324-.974-.87-2.355-1.584-4.044z">
            </path>
        </svg>
        <p>Report this listing</p>
    </button>
</p>