<div class="container">
  <div class="child"><p>Admire sublime views from this double-height A-frame. Hike, bike, sled, or just frolic right in our own backyard. 5-10 mins. from the lake or ski resorts. With a deluxe cinema loft, play a board game or enjoy our Sonos sound system. You can surf the web with our smart tv or take in one of the many curated books that we provide. Downstairs you can enjoy a fire, play guitar and ukelele or simply choose a record from our growing collection. You have all that you need.</p></div>
  <div class="child">The Space</div>
  <div class="child"><p>Enjoy the mountains by ski, board, foot,boat or bike. You'll want to come home to this Hideaway by day's end. While relaxing in the hammock, dining on the deck, or nestling by the fire you can retreat and rejuvenate. Unwind as the light of the sun setting paints the two story window wall. The 22' ceiling makes this 1300 sqft cozy cabin feel open and at the same time intimate.
    See more
    @DalaHaus
    WE DO NOT ALLOW PETS</p></div>
  <div class="child">Other things to note</div>
  <div class="child">We have Netflix and Amazon on our 65" TV on the loft. We have a NO shoe policy, but we do offer slippers or you can bring your own.</div>
  <div class="child"><a href="http://">Contact host</a></div>
</div>
