<app-covid></app-covid>
<app-header></app-header>
<div class="content" role="main">
  <div class="loveless">
    <app-title-info></app-title-info> 
		<app-brian-photo></app-brian-photo>
	</div> 
  <div class="integrationOfListingAndCalender">
    <div class="leftSideIntegration">
      <app-listing-info-container></app-listing-info-container>
      <app-calender></app-calender>
    </div>
    <div class="rightSideIntegration">
      <app-reservation></app-reservation>
    </div>
  </div>
  <app-reviews></app-reviews>
  <div class="mann">
    <app-location></app-location>
  </div>
  <app-hostslice></app-hostslice>
  <app-ttkcontainer></app-ttkcontainer>
  <div style="background-color: rgb(247, 247, 247)">
    <app-mpts-component></app-mpts-component>
  </div>
</div>

	<app-brian-ttd></app-brian-ttd>

<app-footer></app-footer>


